extends project/_logged.pug

block feeds

block title
  | Dashboard

block navmenu
  ul.nav
    li.nav-item
      a(class="nav-link", href="{% url 'projects:dashboard' %}") <i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span>
    li.nav-title UI Elements
    li(class="nav-item nav-dropdown")
      a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-puzzle"></i> Components</a>
      ul.nav-dropdown-items
        li.nav-item
          a(class="nav-link", href="components-buttons.html") <i class="icon-puzzle"></i> Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-social-buttons.html") <i class="icon-puzzle"></i> Social Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-cards.html") <i class="icon-puzzle"></i> Cards</a>
        li.nav-item
          a(class="nav-link", href="components-forms.html") <i class="icon-puzzle"></i> Forms</a>
        li.nav-item
          a(class="nav-link", href="components-modals.html") <i class="icon-puzzle"></i> Modals</a>
        li.nav-item
          a(class="nav-link", href="components-buttons.html") <i class="icon-puzzle"></i> Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-switches.html") <i class="icon-puzzle"></i> Switches</a>
        li.nav-item
          a(class="nav-link", href="components-tables.html") <i class="icon-puzzle"></i> Tables</a>
        li.nav-item
          a(class="nav-link", href="components-tabs.html") <i class="icon-puzzle"></i> Tabs</a>
    li(class="nav-item nav-dropdown")
      a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-star"></i> Icons
      ul.nav-dropdown-items
        li.nav-item
          a(class="nav-link", href="icons-font-awesome.html") <i class="icon-star"></i> Font Awesome
        li.nav-item
          a(class="nav-link", href="icons-simple-line-icons.html") <i class="icon-star"></i> Simple Line Icons
    li.nav-item
      a(class="nav-link", href="widgets.html") <i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span>
    li.nav-item
      a(class="nav-link", href="charts.html") <i class="icon-pie-chart"></i> Charts
    li.divider
    li.nav-title Extras
    //-
      li(class="nav-item nav-dropdown")
        a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-star"></i> Pages
        ul.nav-dropdown-items
          li.nav-item
            a(class="nav-link", href="pages-login.html" target="_top") <i class="icon-star"></i> Login
          li.nav-item
            a(class="nav-link", href="pages-register.html" target="_top") <i class="icon-star"></i> Register
          li.nav-item
            a(class="nav-link", href="pages-404.html" target="_top") <i class="icon-star"></i> Error 404
          li.nav-item
            a(class="nav-link", href="pages-500.html" target="_top") <i class="icon-star"></i> Error 500

block breadcrumbs_block
  ol.breadcrumb
    block breadcrumbs
      li.breadcrumb-item Home
      li.breadcrumb-item
        a(href="/admin") Admin
      li(class="breadcrumb-item active") Dashboard

    li(class="breadcrumb-menu d-md-down-none")
       block breadcrumb_menu
         div(class="btn-group", role="group", aria-label="Button group with nested dropdown")
           a(class="btn btn-secondary", href="{% url 'users:chat' %}") <i class="icon-speech"></i>
           a(class="btn btn-secondary", href="{% url 'projects:dashboard' %}") <i class="icon-graph"></i> &nbsp;Dashboard
           a(class="btn btn-secondary", href="{% url 'users:settings' %}") <i class="icon-settings"></i> &nbsp;Settings
  // You are subscribed to {{subs.count}} projects.

block content
  .animated fadeIn
    .row
      if invites
        .col-md-12
          .card
            .card-header Pending Invites
            .card-block
              ul
                each invite in invites
                  li
                    form(action=invite, method="post", class="form-horizontal")
                       - csrf_token
                       = invite.project
                       input(type="hidden", name="projid", value=invite.project.id)
                       input(type="hidden", name="invid", value=invite.id)
                       button(href="submit()", class="btn btn-success") <i class="fa fa-check"></i> Accept

      .col-md-8
        .card
          .card-header Projects
          .card-block
            if subs
              table(class="table table-responsive table-hover table-striped")
                thead
                  tr
                    th(class="text-center") Project Name
                    th Task
                    th Was due on
                    th User
                    th(class="text-center") Select
                tbody
                  each sub in subs
                    tr
                      td(class="projectname")
                        a(href=sub.project.get_absolute_url())= sub.project.name
                      td &nbsp;
                      td (#{sub.project.start_date}
                        if sub.project.end_date
                          | - #{sub.project.end_date}
                        | )
                      td(class="completed")
                        .row
                          .col-md-6
                            .avatar
                              img(src="/media/avatars/1.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
                              span(class="avatar-status badge-success")
                          .col-md-6
                            div= sub.project.owner
                            div(class="small text-muted") <span>New</span>| Registered: Jan 1, 2015
                      td(style="vertical-align:middle; text-align:center")
                        &nbsp;
                    each task in sub.project.get_overdue
                      tr
                        td(class="projectname")
                          a(href=sub.project.get_absolute_url())
                            = sub.project.name
                        td
                          a(href="task.get_absolute_url")
                            = task.name
                        td= task.expected_end_date|date
                        td(class="completed")
                          .row
                            .col-md-6
                              .avatar
                                img(src="/media/avatars/1.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
                                span(class="avatar-status badge-success")
                            .col-md-6
                              div= task.user_responsible
                              div(class="small text-muted") <span>New</span>| Registered: Jan 1, 2015
                        td(style="vertical-align:middle; text-align:center")
                          form(action=".", method="post", id="markdone-" + "task.id", class="markdone")
                            - csrf_token
                            div
                              input(type="hidden", name="taskid", value="task.id")
                              if task.is_complete
                                input(type="hidden", name="markundone", value="markundone")
                                label(class="switch switch-text switch-pill switch-primary")
                                  input(class="switch-input", type="checkbox", value="task.is_complete", onchange="submit()", name="markundone_check", checked="checked")
                                  span(class="switch-label", data-on="On", data-off="Off")
                                  span(class="switch-handle")
                              else
                                label(class="switch switch-text switch-pill switch-primary")
                                  input(class="switch-input", type="checkbox", value="task.is_complete", onchange="submit()", name="markdone")
                                  span(class="switch-label", data-on="On", data-off="Off")
                                  span(class="switch-handle")
      .col-md-4
        .card
          form(action="{% url 'projects:createproject' %}", method="post", class="form-horizontal")
            .card-header Create a new project
            .card-block
              - csrf_token
              != createform.as_div
            .card-footer
              button(type="submit", class="btn btn-sm btn-primary") <i class="fa fa-dot-circle-o"></i> Submit

block sidebar
  if subs
    ul
      each sub in subs
        li
          a(href=sub.project.get_absolute_url)= sub.project.name
          .floatform
            form(action=".", method="post")
              - csrf_token
              input(type="hidden", name="projectid", value=sub.project.id)
              if sub.project.is_active
                input(type="hidden", name="activestatus", value="true")
                input(type="checkbox", name="inactivate", value="", onchange="submit()", checked="checked", class="projstatus")
              else
                input(type="hidden", name="activestatus", value="false")
                input(type="checkbox", name="activate", value="", onchange="submit()", class="projstatus")
  else
    p You are not subscribed to any project
  h3 Meta
  p.sideblurb Your dashboard has #{subs.count} projects.
  ul
    li
      a(href="./?includeinactive=1") Show inactive projects

block jsblock
  - load static
  // Plugins and scripts required by this views
  // Custom scripts required by this view
  // script src="{% static 'js/views/main.js' %}"></script
